/* Hero */

main {
    height: 100vh;
    background-color: var(--color-primary-bg);
}

.hero h1 {
    font-size: 4rem;
    font-weight: 800;
}

.hero p {
    font-size: 0.825rem;
    font-weight: 300;
    /*
        font-size: 0.83rem;
        font-weight: 200;
        color: var(--color-primary-fg);
    */
}

.hero .ascii {
    font-family: monospace;    
    font-size: 0.5rem;
    /* font-size: calc(100vw / 100); */
    /* scale: 0.5; */
}

.hero .links {
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.link {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.link#github {
    background-image: url('./assets/github-black.svg');
}

.link#instagram {
    background-image: url('./assets/instagram-black.svg');
}

.link#unsplash {
    background-image: url('./assets/unsplash-black.svg');
}

.link#email {
    background-image: url('./assets/email-black.svg');
}

@media (prefers-color-scheme: dark) {
    .link#github {
        background-image: url('./assets/github-white.svg');
    }

    .link#instagram {
        background-image: url('./assets/instagram-white.svg');
    }

    .link#unsplash {
        background-image: url('./assets/unsplash-white.svg');
    }

    .link#email {
        background-image: url('./assets/email-white.svg');
    }
}

/* .scroll::before { */
/*     content: '\FE40'; */
/*     color: var(--color-primary-fg); */
/*     bottom: 4px; */
/*     position: absolute; */
/* } */

.scroll {
    text-decoration: none;
    color: var(--color-secondary-fg);
    position: absolute;
    left: 50%;
    bottom: 40px;
    translate: -50% 0;
    animation: scroll-movement 5s ease-in-out infinite;
}

.scroll::after {
    content: '\FE40';
    opacity: 0.75;
    bottom: -4px;
    position: absolute;
    translate: -100% 0;
}

@keyframes scroll-movement {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

/* Article Stuff */
article {
    width: 100%;
    padding: var(--padding-page);
}

section {
    padding: 40px 0 0 0;
}

section h2 {
    font-weight: 900;
    font-size: 3rem;
    position: relative;
    color: var(--color-primary-fg)
}

section h2::before {
    content: '~';
    position: absolute;
    left: -20px;
    transform: translateX(-100%);
    color: var(--color-heading-before)
}

section h2::after {
    content: '.md';
    color: var(--color-primary-accent)
}

section p.heading-comment {
    position: absolute;
    color: var(--color-heading-before)
}

section p.heading-comment .code-block {
    background-color: var(--color-heading-before);
    color: var(--color-secondary-bg);
    border-radius: 4px;
    padding: 2px 4px;
}

section p.heading-comment::before {
    content: '###';
    position: absolute;
    left: -20px;
    transform: translateX(-100%);
    color: var(--color-heading-before)

}

section p {
    position: relative;
    font-family: 'Fira Code', monospace;
    /* font-family: Helvetica, Arial, sans-serif; */
    line-height: 1.2rem;
    font-size: 0.9rem;
}

section p.show-md::before {
    content: '#';
    position: absolute;
    left: -20px;
    transform: translateX(-100%);
    color: var(--color-heading-before)

}

section .projects .year {
    position: relative;
}

section .projects .year::before {
    content: '';
    position: absolute;
    left: 0;
    height: calc(100% + 25px);
    width: 2px;
    border-radius: 1px;
    background-color: var(--color-primary-accent);
    transform: translateX(-50%);
}

section .projects .year .label {
    font-weight: 900;
    color: var(--color-heading-before);
    margin-left: 15px;
}

section .projects .year .label::before {
    content: '';
    position: absolute;
    left: -15px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--color-primary-accent);
    transform: translate(-50%, 50%);
}

section .projects .year .project {
    margin-left: 15px;
}

section .projects .year .project .title {
    font-size: var(--size-100);
    font-weight: 900;
    margin: 0;
    color: var(--color-primary-fg);
}

section .projects .year .project p:not(:first-child) {
    margin: 0 0 5px 0;
}
section .projects .year .project-links {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 20px 0;
}

section .projects .year .project-links .link-button {
    font-size: var(--size-80);
    box-sizing: content-box;
    border-radius: var(--border);
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--color-secondary-accent);
    color: var(--color-primary-fg);
}

section .projects .year .project-links .link-button.demo {
    background-color: var(--color-tertiary-bg);
}

section .projects .year .project::before {
    content: '';
    position: absolute;
    left: -5px;
    height: 2px;
    width: 10px;
    margin: 8px 0;
    border-radius: 2px;
    background-color: var(--color-primary-accent);
    transform: translateY(50%);
}

/* Shell Stuff */
#console {
    width: 100%;
    padding: 20px;
    bottom: 0;
    position: fixed;
    align-items: start;
    gap: 10px;
    opacity: 0.4;
    transition: opacity 1s;
    pointer-events: none;
}

#console.interacted {
    opacity: 1;
    transition: opacity 0.3s;
}

#console:not(.interacted) #shell-input #autocomplete {
    opacity: 0.6;
    transition: opacity 1s;
}

.shell {
    font-family: monospace;
    font-weight: 900;
    font-size: 0.75rem;
}

.shell p {
    margin: 0;
}

#shell-output {
    display: flex;
    flex-direction: column;
}

#shell-output a {
    text-decoration: none;
    color: var(--color-secondary-fg);
}

#shell-output a:hover {
    text-decoration: underline;
}

#shell-output br.gap {
    content: '';
    margin: 2px;
}

#shell-output a.dir {
    color: var(--color-secondary-accent);
}

#shell-input {
    width: 100%;
    cursor: text;
}

#shell-input #autocomplete {
    bottom: 20px;
    z-index: -1;
    position: absolute;
    opacity: 0.2;
    transition: opacity 0.3s;
}

#shell-input #input,
#shell-input #autocomplete {
    white-space: pre;
    vertical-align: middle;
}

#shell-input #cursor {
    opacity: 1;
    margin-left: calc(1px - 0.5em);
    margin-top: -2px;
    font-weight: 700;
}

#shell-input #cursor.cursor-blink {
    animation: cursor-blink 1s infinite steps(2);
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media (prefers-color-scheme: light) or (prefers-color-scheme: no-preference) {
    .hero .ascii {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .hero .text {
        display: none;
    }
}

@media (max-width: 1000px) {
    /* Disable While Testing */
    /* #console { */
    /*     display: none; */
    /* } */

    .heading-comment {
        display: none;
    }
}
