.link {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.link#github {
    background-image: url('./assets/github-black.svg');
}

.link#instagram {
    background-image: url('./assets/instagram-black.svg');
}

.link#unsplash {
    background-image: url('./assets/unsplash-black.svg');
}

.link#email {
    background-image: url('./assets/email-black.svg');
}

@media (prefers-color-scheme: dark) {
    .link#github {
        background-image: url('./assets/github-white.svg');
    }

    .link#instagram {
        background-image: url('./assets/instagram-white.svg');
    }

    .link#unsplash {
        background-image: url('./assets/unsplash-white.svg');
    }

    .link#email {
        background-image: url('./assets/email-white.svg');
    }
}

/* Featured Projects */
/* section .featured-projects .featured-project { */
/*     position: relative; */
/* } */

/* section .featured-projects { */
/*     width: 100vw; */
/*     margin-left: calc(var(--padding-page-x) * -1); */
/* } */

section .featured-projects .featured-project:not(:last-child) {
    margin-bottom: calc(var(--padding-page-x) * 0.5);
}

section .featured-projects .featured-project .project-details {
    padding: 10px 20px;
    border-radius: 0 0 var(--border) var(--border);
    width: 100%;
    background-color: var(--color-tertiary-bg);
}

section .featured-projects .featured-project .project-details .project-name {
    margin: 10px 0;
    font-size: var(--size-120);
    color: var(--color-primary-fg);
}

section .featured-projects .featured-project .project-details .project-tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

section .featured-projects .featured-project .project-details .project-tags p {
    background-color: var(--color-primary-bg);
    border-radius: calc(10px + var(--size-80) / 2);
    padding: 5px 10px;
    margin: 0;
    color: var(--color-primary-fg);
    font-size: var(--size-80);
}

section .featured-projects .featured-project .project-details .project-description {
    font-size: var(--size-80);
}

section .featured-projects .featured-project img {
    width: 100%;
    border-radius: var(--border) var(--border) 0 0;
}

section .featured-projects .featured-project .project-details {
    right: 5vw;
}

@media (min-width: 1250px) {
    section .featured-projects .featured-project {
        position: relative;
    }

    section .featured-projects {
        width: 100vw;
        margin-left: calc(var(--padding-page-x) * -1);
    }

    section .featured-projects .featured-project:not(:last-child) {
        margin-bottom: calc(var(--padding-page-x) * 0.5);
    }

    section .featured-projects .featured-project .project-details {
        position: absolute;
        padding: 10px 20px;
        border-radius: var(--border);
        top: 50%;
        width: 25vw;
        transform: translateY(-50%);
        background-color: var(--color-tertiary-bg);
    }

    section .featured-projects .featured-project:nth-child(2n + 1) img {
        width: 70vw;
        margin-left: 10vw;
        border-radius: var(--border);
    }

    section .featured-projects .featured-project:nth-child(2n + 1) .project-details {
        right: 5vw;
    }

    section .featured-projects .featured-project:nth-child(2n) img {
        width: 70vw;
        margin-left: 20vw;
        border-radius: var(--border);
    }

    section .featured-projects .featured-project:nth-child(2n) .project-details {
        left: 5vw;
    }
}

/* Timeline */
section .projects .year {
    position: relative;
}

section .projects .year::before {
    content: '';
    position: absolute;
    left: 0;
    height: calc(100% + 25px);
    width: 2px;
    border-radius: 1px;
    background-color: var(--color-primary-accent);
    transform: translateX(-50%);
}

section .projects .year .label {
    font-weight: 900;
    color: var(--color-heading-before);
    margin-left: 15px;
}

section .projects .year .label::before {
    content: '';
    position: absolute;
    left: -15px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--color-primary-accent);
    transform: translate(-50%, 50%);
}

section .projects .year .project {
    margin-left: 15px;
}

section .projects .year .project .title {
    font-size: var(--size-100);
    font-weight: 900;
    margin: 0;
    color: var(--color-primary-fg);
}

section .projects .year .project p:not(:first-child) {
    margin: 0 0 5px 0;
}
section .projects .year .project-links {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 20px 0;
}

section .projects .year .project-links .link-button {
    font-size: var(--size-80);
    box-sizing: content-box;
    border-radius: var(--border);
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--color-secondary-accent);
    color: var(--color-primary-fg);
}

section .projects .year .project-links .link-button.demo {
    background-color: var(--color-tertiary-bg);
}

section .projects .year .project::before {
    content: '';
    position: absolute;
    left: -5px;
    height: 2px;
    width: 10px;
    margin: 8px 0;
    border-radius: 2px;
    background-color: var(--color-primary-accent);
    transform: translateY(50%);
}
