:root {
    --color-primary-cta: #ff6b6c;
    --color-secondary-cta: #ff9696;
    --color-primary-accent: #6b59ec;
    --color-secondary-accent: #788bff;

    --color-highlight: var(--color-primary-accent); /* yellow; */

    --border: 5px;

    --padding-page-x: 25vw;
    --padding-page: 0 var(--padding-page-x);
    --padding-highlight: 2px 4px;

    --size-80: 0.8rem;
    --size-100: 1rem;
    --size-120: 1.2rem;
    --size-150: 1.5rem;
    --size-200: 2rem;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-secondary-bg);

    /* background: -webkit-linear-gradient( */
    /*     var(--color-primary-bg), */
    /*     var(--color-secondary-bg) */
    /* ); */

    color: var(--color-secondary-fg);

    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Roboto',
        'Segoe UI',
        Helvetica,
        Arial,
        sans-serif;

    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: var(--color-primary-cta);
}

sup {
    padding: 0 0 0 0.1rem;
}

footer {
    padding: 1rem 0;
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-secondary-fg);
}

svg.wtfpl {
    height: calc(0.8rem - 4px);
    width: 0.8rem;
    margin: 4px 0 0 0;
    fill: var(--color-secondary-fg);
}

.centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centre-v {
    flex-direction: column;
}

.centre-h {
    flex-direction: row;
}

.no-margin {
    margin: 0;
}

.gradient-filled-text {
    /*  background: -webkit-linear-gradient(
        45deg,
        var(--color-primary-cta),
        var(--color-primary-accent)
    ); */
    background: -webkit-linear-gradient(
        45deg,
        var(--color-primary-accent),
        var(--color-primary-cta)
    );
    color: var(--color-primary-cta);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight {
    color: var(--color-primary-bg);
    background-color: var(--color-highlight);
    border-radius: 4px;
    padding: var(--padding-highlight);
}

.note {
    position: relative;
    padding-left: 20px;
}

.note::before {
    content: '';
    position: absolute;
    left: 0px;
    background-color: var(--color-highlight);
    border-radius: 1px;
    width: 2px;
    height: 100%;
}

section .footnotes {
    counter-reset: footnoteCounter;
    padding-top: 20px;
}

section .footnotes p.footnote {
    position: relative;
    margin: 0.5rem 0;
}

section p.footnote::before {
    counter-increment: footnoteCounter;
    content: '[' counter(footnoteCounter) ']';
    position: absolute;
    left: -20px;
    transform: translateX(-100%);
    color: var(--color-heading-before)

}

/* Prefers light or no preference */
@media (prefers-color-scheme: light) or (prefers-color-scheme: no-preference) {
    :root {
        --color-primary-fg: #272222;
        --color-primary-bg: #e3e5e9;
        --color-secondary-fg: #181f37 /* #121212; */
        --color-secondary-bg: #eeeeee;
        --color-tertiary-bg: #c0c1c9;

        --color-heading-before: var(--color-primary-accent);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary-fg: #e3e5e9;
        --color-primary-bg: #02071d; /*#10131c; /* #050505; */
        --color-secondary-fg: #a8a8b9 /* #d4d4d8 */;
        --color-secondary-bg: #020617; /* #0d0e14; /* #0D0D0D; */ /* #171C28; */
        --color-tertiary-bg: #111730;

        /* --color-heading-before: #26293a; */
        --color-heading-before: #414663;
    }

    /* .wtfpl::before { */
    /*     filter: brightness(0.5) invert(1); */
    /* } */
}

@media (max-width: 1000px) {
    :root {
        --padding-page-x: calc(5vw + 3rem);
    }

    .heading-comment {
        display: none;
    }
}
